Options -Indexes -MultiViews
RewriteEngine on
RewriteRule ^dashboard/details/(.*)$ dashboard/details.php?id=$1 [NC,L]
RewriteRule ^article/(.*)$ article.php?id=$1 [NC,L]
RewriteRule ^categories/(.*)$ categories.php?id=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]