.boitelogin
{
    width: 530px;  
    height: 430px;
    margin: auto;
    border: none;
    background-color: white;
    padding: 12px;
    margin-top: 140px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4
{
    position: absolute;
    top: 170px;
}

.Pseudonyme
{
    position: absolute;
    top: 320px;
    left: 855px;
}

input
{
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
}

button
{
    position: absolute;
    top: 490px;
}

img
{
    position: absolute;
    top: 10px;
    left: 50px;
    width: 100px;
    height: 100px;
}

p
{
    position: absolute;
    top: 210px;
    font-size: small;
}

@media screen and (max-width: 1366px)
{
    .Pseudonyme
{
    position: absolute;
    top: 320px;
    left: 570px;
}
}

@media screen and (max-width: 1280px)
{
    .Pseudonyme
{
    position: absolute;
    top: 320px;
    left: 530px;
}
}