.BorderFooter
{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 2000px;
    border: solid 1px black ;
    background-color: black;
    padding: 100px;
}

.texte
{
    margin-left: 100px;
    margin-top: -50px;
}

.ligne
{
    margin-left: -40px;
    margin-right: -530px;
    margin-top: 3px;
}

i
{
    margin-left: 380px;
    margin-top: -40px;
}

.entreprise
{
    margin-left: -140px;
    margin-top: 13px;
    font-size: larger;
}

.entrepriseTexte
{
    text-align: left;
    margin-left: -140px;
    margin-right: 100px;
}

.partenaire
{
    margin-top: -216px;
    margin-left: 390px;
    width: 100%;
    font-size: larger;
}

.partenaireliste
{
    list-style: none;
    margin-left: 356px;

    
}

.contact
{
    margin-top: -243px;
    margin-left: 810px;
    width: 100%;
    font-size: larger;
}

.contactliste
{
    list-style: none;
    margin-left: 818px;
    margin-top: 16px;
    width: 100%;

    
}

.copyright
{
    
    border: none;
    text-align: center;
    background-color: #272727;
    margin-top: 85px;
    margin-left: -1051px;
    margin-right: -130px;
}
