h5 {
    padding: 30px 400px;
    text-align: center;
    font-family: 'Reggae One', cursive;
}

h3 {
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Reggae One', cursive;
}

.imgbox {
    display: flex;
    padding-left: 10px;
    height: 380px;
    width: 380px;
}

img {
    padding: 0px 25px;
}

.textimgbox1 {
    border: none;
    text-align: center;
    background-color: white;
    margin: 0px 35px;
    margin-right: 1045px;
    padding-bottom: 200px;
}

.textimgbox2 {
    border: none;
    text-align: center;
    background-color: white;
    margin: 0px 370px;
    margin-right: 710px;
    margin-top: -280px;
    padding-bottom: 215px;
}   

.textimgbox3 {
    border: none;
    text-align: center;
    background-color: white;
    margin: 0px 705px;
    margin-right: 375px;
    margin-top: -280px;
    padding-bottom: 230px;
}

.textimgbox4 {
    border: none;
    text-align: center;
    background-color: white;
    margin: 0px 1040px;
    margin-right: 40px;
    margin-top: -276px;
    padding-bottom: 227px;
}