

/* .head{
    text-align: center;
    background: linear-gradient(15deg, rgba(26,54,138,1) 0%, rgba(37,47,77,1) 10%, rgba(37,47,77,1) 75%, rgba(255,101,0,1) 100%);
    color: white;
}*/

html{/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
*/font-family: "Comic Sans MS";
}



/* TEST MATHEO PAS TOUCHER BANDE DE TCHOINS */
/* ❤❤❤ */

    /* cache la scrollbar */
*::-webkit-scrollbar{
    display: none;
}

.article{
    width: auto;
    margin: 15px 20px;
    padding: 10px;
    border: solid black 2px;
}

.article_part1{
    border: solid black 2px;
}

    /* bloc qui fixe l'image du manga */
.article_img{
    width: 300px;
    height: 450px;
    display: inline-block;
    margin: 2% 10%;
    border: solid black 3px;
    vertical-align: middle;
}

    /* ligne de séparation entre l'image et les infos principales */
.article_vligne{
    width: 0;
    height: 450px;
    display: inline-block;
    margin: 2% 10%;
    margin-left: 0;
    background: #A9A9A9;
    border: solid #A9A9A9 1px;
    vertical-align: middle;
}

    /* bloc des infos principales (contient: titre / prix / auteur / artiste) */
.article_desc{
    /* infos de l'article (titre prix auteur artiste) */
    border: solid black 2px;
    margin: 2%;
    display: inline-block;
    vertical-align: middle;
    height: 400px;
    width: 33%;
}

    /* bloc du titre du manga */
.article_titre{
    font-size: xx-large;
    font-weight: bold;
    padding: 4% 8%;
    height: 50%;
    line-height: 110%;
}

.article_infos{
    padding: 2% 4%;
    margin: 2% 4%;
    border: solid black 2px;
}

.article_createurs{
    display: inline-block;
    font-size: large;
    border: solid black 2px;
    width: 46%;
    height: 20%;
}

.article_prix{
    display: inline-block;
    font-size: x-large;
    border: solid black 2px;
    width: 46%;
    text-align: center;
    vertical-align: middle;
    height: 20%;
}

.article_synopsis{
    margin: 2% 10%;
    font-size: large;
}

.article_tableau{
    margin: 2% 10%;
    text-align: center;
}

.article_td{
    border: grey 5px;
    border-style: solid none none solid;
}

.article_caractéristiques{
    margin: 2% 5% 2% 2%;
    padding: 2%;
    display: inline-block;
    border: 4px grey;
    border-style: solid none none solid;
}

/*  VADIM ESSAIE DE FAIRE DES TRUCS EN CSS (PS : PLS HELP)  */
/* tkt bg tu gère */
/* <3 ❤*/

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    margin : 0 10%;
}

.card{
    text-align: center;
    display: grid;
    padding: 10px;
}

.card_text{
    text-align: center;
    height: auto;
    font-size: large;
    font-family: Roboto;
}

.card_img{
    object-fit: cover;
    width: 200px;
    height: 300px;
    margin: 15%;
}



.commandetablestyle {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

.commandetablestyle caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

.commandetablestyle tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

.commandetablestyle th,
.commandetablestyle td {
    padding: .625em;
    text-align: center;
}

.commandetablestyle th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .commandetablestyle {
        border: 0;
    }

    .commandetablestyle caption {
        font-size: 1.3em;
    }

    .commandetablestyle thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .commandetablestyle tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .commandetablestyle td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    .commandetablestyle td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .commandetablestyle td:last-child {
        border-bottom: 0;
    }
}

/*Style du panier*/

.pan {
    font-weight: 400;
    font-size: 40px;
    position: relative;
    left: 50px;
    top: 40px;
}

.récap {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Reggae One', cursive;
}

.infocommande {
    float: right;
    padding-right: 100px;
    font-size: larger;
}

.blockcom {
    border-bottom: 1px solid black;
}

.totalblock {
    border-bottom: 1px solid black;
}

.buy {
    border: none;
    background-color: whitesmoke;
    position: relative;
    top: 100px;
    margin: 0px 90px;
    padding-bottom: 300px;
}

.moula {
    width: 110%;
    height: 40px;
    justify-content: center;
    display: block;
    color: #fff;
    background: #A11111;
    font-size: 1em;
    font-weight: bold;
    margin: 20px auto 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
.moula:hover{
    background: #D11111;
}
 
@media screen and (max-width: 600px) {
    .pan {
        font-weight: 400;
        font-size: 28px;
        padding-bottom: 100px;
    }
    
    .récap {
        font-size: 28px;
        font-weight: 400;
        font-family: 'Reggae One', cursive;
        padding-bottom: 20px;
    }
    
    .infocommande {
        font-size: medium;
        padding: 0px 65px;
    }
    
    .blockcom {
        border-bottom: 1px solid black;
    }
    
    .totalblock {
        border-bottom: 1px solid black;
    }
    
    .buy {
        border: none;
        background-color: whitesmoke;
        position: relative;
        top: 100px;
        margin: 0px 60px;
        padding-bottom: 300px;
    }
    
    .moula {
        width: 110%;
        height: 40px;
        justify-content: center;
        display: block;
        color: #fff;
        background: #A11111;
        font-size: 1em;
        font-weight: bold;
        margin: 20px auto 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: .2s ease-in;
        cursor: pointer;
    }
    .moula:hover{
        background: #D11111;
    }
 }

 /* Style de la présentation */

 .titleH3 {
     text-align: center;
     font-size: 40px;
     font-family: 'Reggae One', cursive;
     padding-top: 50px;
 }

 .explicationh5 {
    font-family: 'Reggae One', cursive;
    text-align: center;
    padding: 20px 90px;
 }

 .imgbox {
     display: inline-flex;
     width: 355px;
     height: 350px;
     padding: 0px 43px;
 }

 .jerem {
    padding: 0px 30px;
 }

 .maths {
    padding: 0px 30px;
 }

 .vad {
    padding: 0px 30px;
 }

 .moi {
    padding: 0px 30px;
 }

 .textimgbox1 {
     text-align: left;
     border: none;
     background-color: white;
     margin: 0px 550px;
     height: 165px;
     position: relative;
     right: 480px;
     padding-top: 20px;

 }

 .textimgboxcss {
     text-align: center;
 }

 .textimgbox2 {
    text-align: left;
    border: none;
    background-color: white;
    margin: 0px 550px;
    height: 150px;
    position: relative;
    right: 155px;
    bottom: 165px;
    padding-top: 20px;

}

.textimgbox3 {
    text-align: left;
    border: none;
    background-color: white;
    margin: 0px 550px;
    height: 120px;
    position: relative;
    bottom: 315px;
    left: 168px;
    padding-top: 20px;

}

.textimgbox4 {
    text-align: left;
    border: none;
    background-color: white;
    margin: 0px 550px;
    height: 95px;
    position: relative;
    bottom: 480px;
    left: 490px;
    padding-top: 20px;

}